<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Mantenimiento{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mantenimiento/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Sistema de Informes de Mantenimiento</h1>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>